<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="#" />
    <title>{{title}}</title>
  </head>
  <body>
    <header class="wetube-title">
      <div class="wetube-title__title">
        <div class="wetube-title__column">
          <div class="wetube-title__main">
            <p><i class="fas fa-sliders-h"></i></p>
            <a href="/">
              <h1>Wetube</h1>
            </a>
          </div>
        </div>
        <div class="wetube-title__column">
          {% if isLoggedIn %}
          <div class="wetube-title__downbar">
            <a href="/upload" class="btn">UPLOAD VIDEO</a>
            <a href="/edit" class="btn">EDIT PROFILE</a>
            <a href="/auth/logout" class="btn">LOG OUT</a>
            <!-- <img src="{{user.profile}}" /> -->
          {% else %}
          <div class="wetube-title__downbar">
            <a href="/login" class="btn">LOGIN</a>
            <a href="/join" class="btn-white">JOIN</a>
          </div>
          {% endif %}
        </div>
      </div>
    </header>
    <main class="main">
      <div class="main-sidebar">
        {% if isLoggedIn %}
        <div class="main-sidebar__subscribebar">
          <h5>subscribe</h5>
          <li class="main-sidebar__list">
            {% for subscribe in subbscrieList %}
            <ul class="main-sidebar__content">
              <img src="{{subscribe.thumbnail}}" />
              <p>{{subscribe.nickname}}</p>
            </ul>
            {% endfor %}
          </li>
        </div>
        {% else %}
        <div class="main-sidebar__loginbar">
          <h6>Please log in</h6>
          <div class="main-sidebar__notlogin">
            <a href="/login" class="btn-white">login</a>
            <a href="/join" class="btn-white">join</a>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="main-title">{% block content %} {% endblock %}</div>
    </main>
    <script
      src="https://kit.fontawesome.com/1566cc2fb5.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/index.js"></script>
    {% block script %} {% endblock %}
  </body>
</html>
