.main-join {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 445px;
  height: 365px;
  border: 1px solid black;
}

.main-join__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 310px;
}

.main-join__form input {
  width: 370px;
  height: 40px;
  margin: 10px 0px;
  display: block;
  background-color: #202020;
  border: solid 1px #181818;
  padding: 5px;
  color: white;
}

.main-join__form input:last-child {
  display: inline;
  margin-top: 10px;
  color: red;
  background-color: white;
}
